[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
sqlalchemy = {extras = ["asyncpg"] }
asyncpg = "*"
fastapi = {extras = ["standard"] }
geojson-pydantic = "*"
pydantic-extra-types = "*"
pydantic-settings = "*"
shapely = "*"
asyncstdlib = "*"
cachetools-async = "*"
matplotlib = "*"
fastkml = "*"
pyproj = "*"
passlib = "*"
pyjwt = "*"
requests = "*"
bcrypt = "*"

[dev-packages]
devtools = "*"
ipython = "*"

[requires]
python_version = "3.13.2"
python_full_version = "3.13.2"
